<div style=";background-image: url('back_image.jpg');min-height: 2000px">
  <div class="container" style="font-size: 45px;">
    <div class="row" >
      <div class="mx-auto" >
        <p class="text-warning mb-5" style="margin-top: 20px;font-size: 65px;font-weight: bold">参加日语测试 瓜分100万日元红包！</p>
      </div>
    </div>

    <div class="row">
      <p  style="font-size: 45px;font-weight: bold" class="text-white mx-auto mb-5">羚课日本留学让学习更有趣 和你的小伙一起来答题领红包！</p>
    </div>

    <div class="card text-white bg-dark mb-5 mx-auto">
      <div class="card-header">活动介绍：</div>
      <div class="card-body">
        <p class="card-text">
          1，羚课做题系统随机抽选20到JLPTN3~N1的题目！你将有20分钟答题时间，本考试只限一次，满分100分合格分数线为<span class="text-danger">50分</span>。<br/>
          2，活动时间为 2019-02-28 ~ 2019-03-03 <br/>
          3，参与考试者均可瓜分<span class="text-danger">100万</span>日元红包！羚课将在24小时之内为大家发送红包。<br/>
          4，如有任何问题请扫码联系羚课小助手<br/>
        </p>
      </div>
    </div>

    <div class="card text-white bg-info mb-5 mx-auto" >
      <div class="card-header">活动流程介绍：</div>
      <div class="card-body">
        <br class="card-text">
        1，点击<span class="text-warning">【点击答题】</span>进入考试列表页面，未注册的同学请先注册，并在个人信息页填写<span class="text-danger">微信号</span>获得红包。<br/>
        2，注册后，点击答题列表中的考试题目开始考试。<br/>
        3，扫描二维码加羚课小助手微信好友，小助手会通过微信发送红包奖金（汇率：人民币兑日元1：16）<br/>
        wechat ID: yitoucunmin
        </p>
        <img src="wechat_qr.jpeg" class="img-thumbnail" style="max-width: 30rem;">
      </div>
    </div>

    <div class="row">
      <div class="mx-auto alert alert-info mb-5" role="alert">
        <p>
          除红包外羚课还会在 <span class="text-success">2019-03-04 18:00:00</span>
          <br/>从超过合格分数线的同学中抽取数名幸运同学，给与<span class="text-danger">10万日元</span>一等奖与<span class="text-danger">5万日元</span>二等奖！
        </p>
      </div>
    </div>

    <div class="row">
      <a href="https://52japan.com/my/course/404" class="mx-auto btn btn-warning text-white mb-5" style="font-size: 60px;min-width: 50%">点击答题</a>
    </div>
  </div>
</div>